</main>
<footer>

  <div class="left-col">
    <h2>Beechmont Community Orchard</h2>
    <p><a target="_blank" rel="noopener" href="https://www.facebook.com/groups/473550612755291">Facebook</a> • <a target="_blank" rel="noopener" href="https://www.youtube.com/@orchardsofbeechmont192">YouTube</a> • <a href="mailto:hello@bcogrows.org">hello@bcogrows.org</a></p>
    <p>4501–4509 South 3rd Street, Louisville, KY 40214</p>
    <p>&copy; {{ site.time | date: "%Y" }} Beechmont Community Orchard</p>
  </div>

  <div class="right-col">
    <h2>Howdy Neighbors!</h2>
    <p>We’re proud to be a part of the Beechmont and South Louisville community. The following local partners and organizations are working hard every day like us to make our area more connected, creative, and caring. Check them out!</p>

    <ul class="local-links">
      <li><a href="https://beechmont.org/">Beechmont Neighborhood Association</a></li>
      <li><a href="https://louisvilleky.gov/government/parks/beechmont-community-center">Beechmont Community Center</a></li>
      <li><a href="https://www.instagram.com/beechmontlouisville/">Beechmont, Louisville Instagram</a></li>
      <li><a href="https://www.facebook.com/p/Beechmont-Womans-Club-100063657049913/">Beechmont Woman's Club</a></li>
      <li><a href="https://www.instagram.com/southendcommunitymarket/">Southend Community Market</a></li>
      <li><a href="https://slcm.org/">South Louisville Community Ministries</a></li>
      <li><a href="https://www.louisvilleneighbornetwork.com/">Louisville Neighbor Network</a></li>
      <li><a href="https://louisvillegrows.org/">Louisville Grows</a></li>
      <li><a href="https://centerforneighborhoods.org/">Center For Neighborhoods</a></li>
      <li><a href="https://louisvilleky.gov/government/office-planning">Louisville Metro Office of Planning</a></li>
      <li><a href="https://louisvilleky.gov/government/metro-council-district-21">Louisville Metro Council District 21</a></li>
      <li><a href="https://louisvilleky.gov/government/parks">Louisville Metro Parks & Recreation</a></li>
      <li><a href="https://www.lfpl.org/iroquois-library">Iroquois Library</a></li>
      <li><a href="https://louisvilleky.gov/government/metro-council-district-25/south-point-scenic-area">South Point Scenic Area</a></li>
      <li><a href="https://louisvilleky.gov/government/brightside">Brightside Louisville</a></li>
      <li><a href="https://www.louisvilletoollibrary.com/">Louisville Tool Library</a></li>
      <li><a href="https://louisvilleky.gov/government/neighborhood-place">Neighborhood Place – South Central</a></li>
    </ul>
  </div>
</footer>
