<header>
  <div class="brand">
    <div class="logo">
    {% include peach-logo.svg %}
    </div>
    <h1>Beechmont Community Orchard</h1>
  </div>
  <button class="hamburger" aria-label="Toggle navigation">☰</button>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About BCO</a></li>
      <li><a href="/jump/">Jump In</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/support/">Support Us</a></li>
      <li><a href="/contact/">Contact Us</a></li>
    </ul>
  </nav>
</header>