<section class="hero">
  <div class="hero-image-wrapper">
    <img class="image"
      src="/assets/images/hero/{{ page.title | slugify }}.webp"
      alt=""
      role="presentation"
      aria-hidden="true"
      loading="lazy"
    >
  </div>
  <div class="content">
    <h2>{{ page.hero_title | default: site.data.defaults.blog.hero_title }}</h2>
    <p>{{ page.hero_text | default: site.data.defaults.blog.hero_text }}</p>
    {% assign button = page.hero_button | default: site.data.defaults.blog.hero_button %}
    {% if button %}
      <div class="button-wrapper">
        <a
          class="button"
          href="{{ button.href }}"
          {% if button.target_blank %}target="_blank" rel="noopener noreferrer"{% endif %}
        >
          {{ button.text }}
        </a>
      </div>
    {% endif %}
  </div>
</section>
