{% assign full_post = site.posts | where: "url", include.url | first %}
<article class="post">
  <h2>{{ full_post.title }}</h2>
    {% assign tags_raw = full_post.tags %}
    {% if tags_raw %}
      {% if tags_raw contains "," %}
        {% assign tags = tags_raw | split: "," %}
      {% else %}
        {% assign tags = tags_raw %}
      {% endif %}
      <ul class="post-tags">
        {% for tag in tags %}
          {% assign tag_clean = tag | strip %}
          <li><a href="/tags/{{ tag_clean | slugify }}/">{{ tag_clean }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
<p class="post-meta">Posted by {{ full_post.author }} on {{ full_post.date | date: "%B %d, %Y" }}</p>
{% if full_post.featured_image and full_post.featured_image.src %}
<figure class="featured-image-wrapper">
  <img class="image"
    src="{{ full_post.featured_image.src | relative_url }}"
    alt="{{ full_post.featured_image.alt | default: full_post.title }}"
  >
  {% if full_post.featured_image.caption %}
    <figcaption class="caption">
      {{ full_post.featured_image.caption }}
    </figcaption>
  {% endif %}
</figure>
{% endif %}

  {{ full_post.content }}
</article>
