{% for section in page.sections %}
  <hr class="page-section-separator">
{% if section.images %}
  <section class="page-section wide">
{% elsif section.image %}
  <section class="page-section default">
{% else %}
  <section class="page-section small">
{% endif %}

  {% if section.title %}
    <h2 id="{{ section.id }}">{{ section.title }}</h2>
    {% endif %}

  {% if section.content %}
    {% for item in section.content %}
      <p>{{ item | markdownify }}</p>
    {% endfor %}
  {% endif %}

    {% if section.images %}
    <ul class="image-grid">
      {% for image in section.images %}
      <li class="image-grid-item">
        <img class="image" src="{{ image.src }}" alt="{{ image.alt }}" loading="lazy">
      </li>
      {% endfor %}
    </ul>
    {% elsif section.image %}
      <img class="image" src="{{ section.image.src }}" alt="{{ section.image.alt }}" loading="lazy">
    {% endif %}
    {% if section.youtube %}
    <div class="video-wrapper">
      <iframe
        width="100%"
        height="400"
        src="https://www.youtube.com/embed/1OZ-MsLd_jE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    {% endif %}
    {% if section.button %}
      <div class="button-wrapper">
        <a class="button" href="{{ section.button.href }}">{{ section.button.text }}</a>
      </div>
    {% endif %}
  </section>
{% endfor %}