---
---

// styles throughout
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.25rem 0;

  @media (min-width: 500px) {
    font-size: 2.4em;
  }
}

.image {
  display: block;
  width: 100%;
}

.button-wrapper {
  margin: 3rem auto 0;
  text-align: center;
}

.button {
  background: darkgreen;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0.9rem 1.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a {
  color: darkgreen;
}

// header + nav
header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0 40px 1rem 0;
  position: relative;

  @media (min-width: 512px) {
    padding: 0 0 1rem 0;
  }

  .brand {
    align-items: flex-start;
    display: inline-flex;
    gap: 0.5rem;
  }

  .logo,
  .logo svg {
    display: inline-block;
    height: 28px;
    width: 28px;
  }

  h1 {
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.15;
    margin: 0.15rem 0 0;
    text-align: left;
    width: auto;

    @media (min-width: 445px) {
      white-space: nowrap;
    }
  }

  .hamburger {
    background: white;
    border: none;
    color: darkgreen;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    height: 37px;
    line-height: 1;
    margin:0;
    padding:0;
    padding-bottom: 15px;
    position: absolute;
      top: -5px;
      right: 0;
    width: 35px;

    @media (min-width: 512px) {
      display: none;
    }
  }

  nav {
    display: none;
    margin-top: 1rem;
    width: 100%;

    &.open {
      display: flex;
    }

    @media (min-width: 512px) {
      display: inline-flex;
      margin: 0;
      width: auto;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;


    @media (min-width: 512px) {
      display: inline-flex;
      flex-direction: row;
      justify-items:flex-end;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    text-decoration: none;
    white-space: nowrap;
  }
}

// page layout
.page-sections {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 0 auto;

  @media (min-width: 512px) {
    gap: 4.5rem;
  }
}

// page hero 
.hero {
  display: block;
  position: relative;
  width: 100%;

  .image-wrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 2rem;
    width: 100%;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      display: block;
    }
  }

  .content {
    background: white;
    left: 50%;
    margin-top: -100px;
    padding: 1.25rem 0 0;
    position: relative;
    transform: translateX(-50%);
    
    width: 100%;

  @media (min-width: 500px) {
    max-width: 530px;
    padding: 4rem 4rem 0;
  }

    h2 {
      display: block;
      font-size: 2em;
      font-weight: 900;
      letter-spacing: -1.5px;
      margin: 0;
      text-align: center;
      width: 100%;

      @media (min-width: 500px) {
        font-size: 3em;
      }
    }
    p {
      text-align: left;
    }
  }
}

// page sections
.page-section {
  margin: 0 auto;
  width: 100%;

  &.default {
    max-width: 720px;
  }
  &.small {
    max-width: 500px;
  }
  &.wide {
    // inherited style width 100%;
  }

  &-separator {
    border-top-color: darkgreen;
    border-top-style: solid;
    border-top-width: 2px;
    height: 0;
    margin: 0 auto;
    max-width: 530px;
    opacity: 35%;
    width: 100%;
  }

  .video-wrapper {
    background: black;
    cursor: pointer;
    margin: 3rem auto 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    /* container width */
    &.small {
        @media (min-width: 500px) {
          max-width: 500px;
        }
    }
    &.default {
        @media (min-width: 500px) {
          max-width: 800px;
        }
    }
    &.wide {
        // @media (min-width: 500px) {
        //   width: 100%; // already the style default
        // }
    }

    /* video shape */
    &.square {
      aspect-ratio: 1 / 1;
    }
    &.rectangle {
      aspect-ratio: 16 / 9;
    }

    video {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

// page footer
footer {
  margin-top: 4rem;

  .footer-separator {
    border-top-color: rgba(darkgreen, 0.35);
    border-top-style: solid;
    border-top-width: 2px;
    height: 0;
    margin: 0 auto 1.5rem;
    width: 100%;
  }

  a, p {
    font-size: 0.8rem;
  }

  a {
    color: darkgreen;
  }

  p {
    color: gray;
    margin: 0;
  }

  p:first-of-type {
    color: inherit;
    font-size: 0.9rem;
    line-height: 1.5;
  }
}

// placeholder styles

/* entry breakup */ 
.post {
  &-separator {
    border-top-color: darkgreen;
    border-top-style: solid;
    border-top-width: 2px;
    height: 0;
    margin: 4rem auto;
    max-width: 250px;
    opacity: 35%;
    width: 50%;
  }
}

/* Featured image inside blog layout */
.featured-image-wrapper {
  align-items: center;  
  background: black;
  display:flex;
  height: 300px;
  justify-content: center;
  margin: 3rem auto 3rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }

  .caption {
    background: rgba(white, 0.95);
    border-radius: 2px;
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
    height: auto;
    line-height: 1;
    padding: 0.5rem;
    position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
    width: auto;
  }
}

/* Inline images inside post content */
.post-image {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 1rem auto;
  width: 100%;
}

.blog-featured-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;

  .page-section-separator {
    display: none;
  }

  .featured-post {
    width: 100%;
  }

  .post-sidebar {
    //left
    box-shadow: -19px 5px 26px -21px rgba(0,0,0,0.09),
                 19px 5px 26px -21px rgba(0,0,0,0.09);
    -webkit-box-shadow: -19px 5px 26px -21px rgba(0,0,0,0.09),
                         19px 5px 26px -21px rgba(0,0,0,0.09);
    -moz-box-shadow: -19px 5px 26px -21px rgba(0,0,0,0.09),
                      19px 5px 26px -21px rgba(0,0,0,0.09);
    margin: 0.15rem 0 0 5rem;
    padding:1.5rem;
    width: 375px;

    h2 {
      font-size: 1.25rem;
      text-align: left;
    }

    .post-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1rem;
      }

      .post-meta {
        font-size: 0.8rem;
      }
    }
  }
}

.copy-wrapper {
  margin: 0 auto;
  width: 100%;

  /* container width */
  &.small {
      @media (min-width: 500px) {
        max-width: 500px;
      }
  }
  &.default {
      @media (min-width: 500px) {
        max-width: 800px;
      }
  }
  &.wide {
      // @media (min-width: 500px) {
      //   width: 100%; // already the style default
      // }
  }
}

.post {
  h2 {
    margin: 0 0 0.7rem 0;
    text-align: left;
  }

  .post-meta {
    font-size: 0.8rem;
    line-height: 1.25;
    margin: 0 0 1.5rem 0;
  }

  .post-tags {
    list-style: none;
    line-height: 1.25;
    margin: 0 0 0.75rem 0;
    padding: 0;
    text-transform: uppercase;

    li a {
      font-size: 1.35rem;
      font-weight: 700;
      line-height: 1;
      text-decoration: none;
    }
  }
}


















/* image grids throughout – responsive to amount of images */
.image-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  overflow: hidden;
  padding: 0;
  margin: 3rem auto 0;
  width: 100%;

  /* container width */
  &.small {
    @media (min-width: 500px) {
      max-width: 500px;
    }
  }

  &.default {
    @media (min-width: 500px) {
      max-width: 800px;
    }
  }

  &.wide {
    // width is already 100% by default
  }

  &-item {
    flex: 0 0 48%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    flex: 0 0 calc(50% - 0.75rem);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

    &.three {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      > .image-grid-item:first-child {
        aspect-ratio: 1 / 2;
        flex: 1 1 calc(25% - 1.5rem);
      }

      > .image-grid-stack {
        display: flex;
        flex: 1 1 calc(25% - 2rem);
        flex-direction: column;
        gap: 1rem;

        .image-grid-item {
          flex: 1 1 calc(50% - 2rem);
          aspect-ratio: 1 / 1;
        }
      }
    }

  @media (min-width: 800px) {
    &-item {
      flex: 0 0 calc(25% - 0.75rem); // default for 4-up grid
    }
  }
}







/*
<ul class="image-grid four wide">
        
          <li class="image-grid-item">
            <img src="/assets/images/img17.webp" alt="TBD" loading="lazy">
          </li>
        
          <li class="image-grid-item">
            <img src="/assets/images/img19.webp" alt="TBD" loading="lazy">
          </li>
        
          <li class="image-grid-item">
            <img src="/assets/images/img20.webp" alt="TBD" loading="lazy">
          </li>
        
          <li class="image-grid-item">
            <img src="/assets/images/img12.webp" alt="TBD" loading="lazy">
          </li>
        
      </ul>
*/