---
---

// styles throughout
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.25rem 0;

  @media (min-width: 500px) {
    font-size: 2.4em;
  }
}

.image {
  display: block;
  width: 100%;
}

.button-wrapper {
  margin: 3rem auto 0;
  text-align: center;
}

.button {
  background: darkgreen;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0.9rem 1.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a {
  color: darkgreen;
  font-weight: 600;
}

// header + nav
header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0 40px 1rem 0;
  position: relative;

  @media (min-width: 512px) {
    padding: 0 0 1rem 0;
  }

  .brand {
    align-items: flex-start;
    display: inline-flex;
    gap: 0.5rem;
  }

  .logo,
  .logo svg {
    display: inline-block;
    height: 28px;
    width: 28px;
  }

  h1 {
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.15;
    margin: 0.15rem 0 0;
    text-align: left;
    width: auto;

    @media (min-width: 445px) {
      white-space: nowrap;
    }
  }

  .hamburger {
    background: white;
    border: none;
    color: darkgreen;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    height: 37px;
    line-height: 1;
    margin:0;
    padding:0;
    padding-bottom: 15px;
    position: absolute;
      top: -5px;
      right: 0;
    width: 35px;

    @media (min-width: 512px) {
      display: none;
    }
  }

  nav {
    display: none;
    margin-top: 1rem;
    width: 100%;

    &.open {
      display: flex;
    }

    @media (min-width: 512px) {
      display: inline-flex;
      margin: 0;
      width: auto;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;


    @media (min-width: 512px) {
      display: inline-flex;
      flex-direction: row;
      justify-items:flex-end;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    text-decoration: none;
    white-space: nowrap;
  }
}

// page layout
.page-sections {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 0 auto;

  @media (min-width: 512px) {
    gap: 4.5rem;
  }
}

// page hero 
.hero {
  display: block;
  width: 100%;

  .hero-image-wrapper {
    aspect-ratio: 15 / 16;
    overflow: hidden;
    margin-bottom: 2rem;
    width: 100%;

    @media (min-width: 700px) {
      aspect-ratio: 2 / 1;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      display: block;
    }
  }

  .content {
    background: white;
    margin: 0 0 -100px;
    padding: 1.25rem 0 0;
    position: relative;
    top: -100px;
    width: 100%;

  @media (min-width: 700px) {
    margin: 0 auto -150px;
    max-width: 530px;
    padding: 4rem 4rem 0;
    top: -150px;
  }

  @media (min-width: 950px) {
    margin: 0 auto -200px;
    top: -200px;
  }

    h2 {
      display: block;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: -1.5px;
      margin: 0;
      text-align: center;
      width: 100%;
    }
    p {
      text-align: left;
    }
  }
}

// page sections
.page-section {
  margin: 0 auto;
  width: 100%;

  &.default {
    max-width: 720px;
  }
  &.small {
    max-width: 500px;
  }
  &.wide {
    // inherited style width 100%;
  }

  .video-wrapper {
    background: black;
    cursor: pointer;
    margin: 3rem auto 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    /* container width */
    &.small {
        @media (min-width: 500px) {
          max-width: 500px;
        }
    }
    &.default {
        @media (min-width: 500px) {
          max-width: 800px;
        }
    }
    &.wide {
        // @media (min-width: 500px) {
        //   width: 100%; // already the style default
        // }
    }

    /* video shape */
    &.square {
      aspect-ratio: 1 / 1;
    }
    &.rectangle {
      aspect-ratio: 16 / 9;
    }

    video {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.half-width-separator { // used in posts
    border-top-color: darkgreen;
    border-top-style: solid;
    border-top-width: 2px;
    height: 0;
    margin: 4rem auto;
    max-width: 250px;
    opacity: 35%;
    width: 50%;
  }

.full-width-separator { // used on footer
  border-top-color: rgba(darkgreen, 0.35);
  border-top-style: solid;
  border-top-width: 2px;
  height: 0;
  margin: 0 auto 1.5rem;
  width: 100%;
}

.medium-width-separator { // used on page sections
  border-top-color: darkgreen;
  border-top-style: solid;
  border-top-width: 2px;
  height: 0;
  margin: 0 auto;
  max-width: 530px;
  opacity: 35%;
  width: 100%;
}

// page footer
footer {
  border: 0;
  border-top: solid 2px rgba(darkgreen, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10rem;
  gap: 3rem;
  padding: 4rem 0 5rem 0;
  width: 100%;

  @media (min-width: 1125px) {
    flex-direction: row;
    gap: 5rem;
  }
  
  .left-col {
    width: 100%;

    @media (min-width: 400px) {
      max-width: 360px;
      min-width: 360px;
      width: auto;
    }
  }

  .right-col {
    width: 100%;

    @media (min-width: 400px) {
      max-width: 750px;
    }
  }

  h2 {
    font-size: 1.35rem;
    text-align: left;
  }

  a, p {
    font-size: 0.9rem;
  }

  a {
    color: darkgreen;
  }

  p {
    color: gray;
    margin: 0;
  }

  .local-links {
    columns: 1;
    column-gap: 2rem;
    list-style: none;
    padding: 0;

    @media (min-width: 600px) {
      columns: 2;
    }

    li {
      break-inside: avoid;
      margin-bottom: 0.15rem;

      @media (min-width: 400px) {
        margin: 0;
      }
    }

    a {
      display: inline-block;

        @media (min-width: 400px) {
          white-space: nowrap;
        }
    }
  }
}

/* Featured image inside blog layout */
.featured-image-wrapper {
  align-items: center;  
  aspect-ratio: 5/4;
  background: black;
  display: flex;
  justify-content: center;
  margin: 3rem auto 3rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: 650px) {
    aspect-ratio: 2/1;
  }

  img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }

  .caption {
    background: rgba(white, 0.95);
    border-radius: 2px;
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
    height: auto;
    line-height: 1;
    padding: 0.5rem;
    position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
    width: auto;
  }
}

/* Inline images inside post content */
.post-image {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 1rem auto;
  width: 100%;
}

.blog-featured-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  .medium-width-separator {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  .featured-post {
    width: 100%;
  }

  .post-sidebar {
    margin: 0 auto;
    width: 100%;

    @media (min-width: 1024px) {
      box-shadow: -21px 0px 21px -27px rgba(0,0,0,0.25);
      -webkit-box-shadow: -21px 0px 21px -27px rgba(0,0,0,0.25);
      -moz-box-shadow: -21px 0px 21px -27px rgba(0,0,0,0.25);
      flex-direction: row;
      margin-left: clamp(3rem, 2vw, 5rem);
      max-width: 275px;
      padding: 0.65rem 0 4rem 1.5rem;
    }

    h2 {
      font-size: 1.45rem;
      margin-bottom: 1.5rem;
      text-align: left;
    }

    .post-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1rem;
      }
    }
    .post-meta, p, p a {
        font-size: 0.8rem;
    }
  }
}

.copy-wrapper {
  margin: 0 auto;
  width: 100%;

  /* container width */
  &.small {
      @media (min-width: 500px) {
        max-width: 500px;
      }
  }
  &.default {
      @media (min-width: 500px) {
        max-width: 800px;
      }
  }
  &.wide {
      // @media (min-width: 500px) {
      //   width: 100%; // already the style default
      // }
  }
}

.post {
  h2 {
    margin: 0 0 0.7rem 0;
    text-align: left;
  }

  .post-meta {
    font-size: 0.8rem;
    line-height: 1.25;
    margin: 0 0 1.5rem 0;
  }

  .post-tags {
    list-style: none;
    line-height: 1.25;
    margin: 0 0 0.75rem 0;
    padding: 0;
    text-transform: uppercase;

    li a {
      font-size: 1.35rem;
      font-weight: 700;
      line-height: 1;
      text-decoration: none;
    }
  }
}

.jump-in.page-section .event {
  border: 0;
  border-bottom: solid 2px rgba(darkgreen, 0.35);
  padding: 1rem 0;

  &:last-of-type {
    border: 0;
  }

  &.archived {
    color: gray;
    font-style: italic;
  }

  .highlight {
    background-color: rgba(darkgreen, 0.075);
    display: inline-block;
  }
}


/* images not in grids throughout */
.image-wrapper {
  max-height: 400px;
  max-width: 400px;
  margin: 0;
  overflow: hidden;
  position: relative;

  &, img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }

  .caption {
    background: rgba(white, 0.95);
    border-radius: 2px;
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
    height: auto;
    line-height: 1;
    padding: 0.5rem;
    position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
    width: auto;
  }
}


/* image grids throughout – responsive to amount of images */
.image-grid {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 0.75rem;
  overflow: hidden;
  padding: 0;
  margin: 3rem auto 0;
  width: 100%;

  .image-wrapper {
    margin: 0;
    width: 100%;
  }

  // number of images in grid
  &.two {
    max-width: 600px;

    .image-grid-item {
      display: flex;
      flex: 0 0 48%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      position: relative;
      flex: 0 0 calc(50% - 0.75rem);
    }

    .image-grid-item {
      flex: 0 0 48%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      position: relative;
      flex: 0 0 75%;
    }

    @media (min-width: 800px) {
      .image-grid-item {
        flex: 0 0 calc(50% - 0.5rem);
      }
    }
  }

  &.three {
    align-items: stretch;
    display: flex;
    flex-direction: row;

    > .image-grid-item:first-child {
      display: flex;
      object-fit: cover;
      object-position: center center;
      width: 50%;
    }

    > .image-grid-stack {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      width: 50%;

      .image-grid-item {
        aspect-ratio: 1 / 1;
        width: 100%;
      }
    }

    > .image-grid-item:first-child img,
    > .image-grid-stack .image-grid-item,
    > .image-grid-stack .image-grid-item img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
    > .image-grid-stack .image-grid-item,
    > .image-grid-stack .image-grid-item img {
      aspect-ratio: 1/1;
      height:100%;
    }

  }

  &.four {
    flex-wrap: wrap;
    max-width: 500px;

    .image-grid-item {
      display: flex;
      flex: 0 0 48%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      position: relative;
      flex: 0 0 calc(50% - 0.75rem);
    }

    .image-grid-item {
      flex: 0 0 48%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      position: relative;
      flex: 0 0 calc(50% - 0.75rem);

      img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }

    @media (min-width: 1000px) {
      max-width: 1000px;

      .image-grid-item {
        flex: 0 0 calc(25% - 0.75rem); // default for 4-up grid
      }
    }
  }

  /* container width */
  &.small {
    @media (min-width: 500px) {
      max-width: 500px;
    }
  }

  &.default {
    @media (min-width: 500px) {
      max-width: 800px;
    }
  }

  &.wide {
    // width is already 100% by default
  }
}




.image-wrapper {
  max-height: 400px;
  max-width: 400px;
  margin: 0;
  overflow: hidden;
  position: relative;

  &, img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }

  .caption {
    background: rgba(white, 0.95);
    border-radius: 2px;
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
    height: auto;
    line-height: 1;
    padding: 0.5rem;
    position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
    width: auto;
  }
}
