<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% assign page_id = page.title | slugify %}
  <body>
    {% include header.html %}
    <main class="{{ page_id }}">
      <div class="page-sections">
        {% include hero.html %}
        <hr class="medium-width-separator">
        <div class="blog-featured-wrapper">
          <section class="featured-post">
            {% include blog_list.html mode=page.mode tag=page.tag %}
          </section>
          <hr class="medium-width-separator">
          {% include blog_sidebar.html %}
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
