---
layout: default
---

<div class="page-sections">
  {% include hero.html %}
<hr class="page-section-separator">
  <section class="page-section wide">
    {% assign sorted_posts = paginator.posts %}
    {% assign featured_post = sorted_posts.first %}
    {% assign sidebar_posts = sorted_posts | slice: 1, sorted_posts.size %}

    <article class="featured-post">
      <h2 id="featured-post">{{ featured_post.title }}</h2>
      <p class="date">{{ featured_post.date | date: "%B %-d, %Y" }}</p>
      <div>{{ featured_post.content }}</div>
      <p class="author">— {{ featured_post.author }}</p>
    </article>
  </section>

  <section class="page-section wide">
    <aside class="sidebar-posts">
      <h2>More from the Orchard</h2>
      <ul>
        {% for post in sidebar_posts %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a><br>
            <small>{{ post.date | date: "%B %-d, %Y" }} — {{ post.author }}</small>
          </li>
        {% endfor %}
      </ul>
    </aside>
  </section>

  <section class="page-section wide">
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
      {% endif %}
    </nav>
  </section>
</div>